.nav-link {	
 color: #1B1B1B;
}
.active  {
    text-decoration : underline;
	color: #916E6E;
	font-weight: bold;
}
.nav{
	float: right;
	padding: 15px 0px 2px 0px;
}
.form-control{
	border-radius: 25px;
}
.input{
	padding-top: 20px;	
}
 .signin{
	color: #6c4e4e;
	text-decoration : underline;
}
.next{
	background-color: #a52424d9;
	color: #ffffff;
	padding: 5px 34px 5px 34px;
}
.previous{
	background-color: #a52424d9;
	color: #ffffff;
	padding: 5px 20px 5px 20px;
}
.availability{
	background-color: #6c6464f0;
	color: #ffffff;
	margin-left: 10%;
}
.country{
	background-color: #6c6464f0;
	color: #ffffff;
}
.field{
	color: #9d9d9d;
}
.copyright{
	color: #9d9d9d;
}
.nav-box{
	box-shadow: -6px 3px 5px 0px #c5aeae;
}
.account{
	margin:0; 
	font-size:11px;
	color: #7b0d0d;
}
.form-box{
	background-color: #c6c2c21f;
	border-radius: 25px;
}
.icon {
  display: none;
}
@media screen and (max-width: 767px) {
  .topnav   {display: none;}
   .icon {
 float: left;
    display: block;
	padding-right: 5px;
} 
.topnav  .icon {
	display: block;
}

}
@media screen and (max-width: 767px){
.topnav.responsive {
	float: left;
    position: relative;
	display : block;
}

@media only screen and (max-width: 767x){
.content.input.shortname {
	padding-right: 12px !important;
	color:red;
}
}
